td, th {
	border: 10px solid #dddddd;
	padding: 15px; 
}
table {
	width: 40%;

	border-collapse: collapse;
	
}
th {
	background-color:  blue;
}
td{
	background-color: green;
}
.tplink{
	background-color:  gray;
	color: white;
}
.cachorro{
	background-color: white;
	border: 0px solid white;

}


